<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enigma</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.0/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/login.css">
    <link rel="icon" type="image/png" href="static/icon.png">
</head>
<body>
    
    <section class="h-100 gradient-form" style="background-color: #000000;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
              <div class="card rounded-3 text-black">
                <div class="row g-0">
                  <div class="col-lg-6">
                    <div class="card-body p-md-5 mx-md-4">
      
                      <div class="text-center">
                        <a href="index.html" class="logo"><span>E</span>nigma</a>
                      </div>
      
                      <form method="POST" action="/register">
                        
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="text" id="name" name="name" class="form-control" placeholder="Name of the company/user" required />
                            <label class="form-label" for="name">Name</label>
                        </div>

                        <div data-mdb-input-init class="form-outline mb-4">
                          <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required />
                          <label class="form-label" for="email">Email</label>
                        </div>
      
                        <div data-mdb-input-init class="form-outline mb-4">
                          <input type="password" id="password" name="password" class="form-control" placeholder="Enter a Password" required />
                          <label class="form-label" for="password">Enter a Password</label>
                        </div>
      
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="password" id="confirm-password" name="confirm_password" class="form-control" placeholder="Retype Password" required />
                            <label class="form-label" for="confirm-password">Retype Password</label>
                        </div>

                        <div class="text-center pt-1 mb-5 pb-1">
                            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Register</button>
                        </div>
      
                        <div class="d-flex align-items-center justify-content-center pb-4">
                          <p class="mb-0 me-2">Already have an account?</p>
                          <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-danger" onclick="window.location.href='/login'">Login</button>
                        </div>
      
                      </form>
      
                    </div>
                  </div>
                  <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                    <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                      <h4 class="mb-4">We are more than just a company</h4>
                      <p class="small mb-0">Enigma is a NGO company aimed at assisting all sorts of industries and power plants to invest in the cleanest and safest sources while considering cost availability.</p>
                        <a href="index.html" style="color: white; font-size:x-small">Click here to return</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.0/mdb.min.js"></script>

</body>
</html>
